@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;200;300;400;500;600&display=swap');


/*AQUI COMEÇA O CSS*/
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 222, 222);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}



.container {
  background: rgb(255, 255, 255);
  width: auto;
  height: auto;
  min-width: 1px;
  min-height: 40vh;
  padding: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}


form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#dm {
  padding-top: 0.8rem;
  align-items: center;
  width: 414px;
  height: 94px;
  padding-left: 30rem;
}

.header {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  color: #52658D;
  font-family: "M PLUS 2", alt sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

header::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 25px;
  bottom: 3px;
  left: 0;
  border-radius: 8px;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}



/*
  .form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
  }
  
  .form-content.error input{
    border-color: #ff3b25;
  }
  
  .form-content.error a{
    color: #ff3b25;
    visibility: visible;
  }
*/
.form button {
  margin: 1rem;
  text-align: center;
  color: #A9CF46;
  width: 182px;
  height: 43px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 2px solid #A9CF46;
  background: rgba(217, 217, 217, 0.00);
  cursor: pointer;
}

.form button:hover{
  font-size: 1rem;
  border: 2.5px solid #52658D;
  color: #52658D;
}


#username {
  margin: 15px 25px;
  width: 22.5rem;
  border: none;
  padding: 12px 0;
  border-bottom: solid 1.2px #A9CF46;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #A9CF46 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #A9CF46 4%);
  background-position: -200px 0;
  background-size: 22.5rem 100%;
  background-repeat: no-repeat;
  color: #A9CF46;
}

#username,
#username:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

#username::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#username:focus::-webkit-input-placeholder,
#username:valid::-webkit-input-placeholder {
  color: #A9CF46;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-0.90rem);
  visibility: visible !important;
}


#username,
#username:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

#username::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#username:focus::-webkit-input-placeholder,
#username:valid::-webkit-input-placeholder {
  color: #A9CF46;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-0.90rem);
  visibility: visible !important;
}

#tel {
  margin: 15px 25px;
  width: 22.5rem;
  border: none;
  padding: 12px 0;
  border-bottom: solid 1.2px #A9CF46;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #A9CF46 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #A9CF46 4%);
  background-position: -200px 0;
  background-size: 22.5rem 100%;
  background-repeat: no-repeat;
  color: #A9CF46;
}

#tel,
#tel:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

#tel::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#tel:focus::-webkit-input-placeholder,
#tel:valid::-webkit-input-placeholder {
  color: #A9CF46;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-0.90rem);
  visibility: visible !important;
}


#tel,
#tel:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

#tel::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#tel:focus::-webkit-input-placeholder,
#tel:valid::-webkit-input-placeholder {
  color: #A9CF46;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-0.90rem);
  visibility: visible !important;
}


#indicacao {
  margin: 15px 25px;
  width: 22.5rem;
  border: none;
  padding: 12px 0;
  border-bottom: solid 1.2px #A9CF46;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #A9CF46 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #A9CF46 4%);
  background-position: -20px 0;
  background-size: 22.5rem 100%;
  background-repeat: no-repeat;
  color: #A9CF46;
}

#indicacao,
#indicacao:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

#indicacao::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#indicacao:focus::-webkit-input-placeholder,
#indicacao:valid::-webkit-input-placeholder {
  color: #A9CF46;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-0.90rem);
  visibility: visible !important;
}


#indicacao,
#indicacao:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

#indicacao::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#indicacao:focus::-webkit-input-placeholder,
#indicacao:valid::-webkit-input-placeholder {
  color: #A9CF46;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-0.90rem);
  visibility: visible !important;
}

#produto {
  margin: 15px 25px;
  width: 22.5rem;
  border: none;
  padding: 12px 0;
  border-bottom: solid 1.2px #A9CF46;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #A9CF46 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #A9CF46 4%);
  background-position: -20px 0;
  background-size: 22.5rem 100%;
  background-repeat: no-repeat;
  color: #A9CF46;
}

#produto,
#produto:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

#produto::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#produto:focus::-webkit-input-placeholder,
#produto:valid::-webkit-input-placeholder {
  color: #A9CF46;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-0.90rem);
  visibility: visible !important;
}


#produto,
#produto:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

#produto::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#produto:focus::-webkit-input-placeholder,
#produto:valid::-webkit-input-placeholder {
  color: #A9CF46;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-0.90rem);
  visibility: visible !important;
}





#Ava_emoji {
  align-items: center;
  display: flex;
}

.emoji {
  display: flex;
  font-size: 50px;
  cursor: pointer;
  margin: 0 20px;
  list-style-type: none;
  color: #52658C;
}

.selected {
  color: #A9CF46;

}

.emoji:hover {
  text-shadow: 1.5px 1px 2px black;
  font-size: 55px;
  color: #A9CF46;
}


/*LABEL_Ava_emoji*/
.label_Avaemoji {
  font-family: "M PLUS 2", alt sans-serif;
  text-align: center;
  color: #52658C;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
